################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebcamFilteringWithOpenCVandCUDANPP
/bin/x64/Debug
/vcpkg_installed/x64-windows
